@model _2015147458_ENT.Ubigeo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ubigeo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroUbigeo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroUbigeo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UbigeoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
